COMPOSE_PROJECT_NAME=capman-ce
CAPMAN_IMAGE=ghcr.io/silicon-insights/capman-ce:CAPMAN-CE_v1.0_2950
CAPMAN_HOST_PORT=8070
POSTGRES_HOST_PORT=5433
POSTGRES_USER=capman
POSTGRES_PASSWORD=capman
POSTGRES_DB=modelsdb
MODELS_DB_NAME=modelsdb
PUBLISH_DB_NAME=publishdb
ACTUALS_DB_NAME=actualsdb
OLLAMA_BASE_URL=
OPENAI_API_KEY=
CLAUDE_API_KEY=
GEMINI_API_KEY=
CAPMAN_LICENSE_API_BASE=https://capman-admin.siliconinsights.co.uk
